<marquee behavior="scroll" direction="right" scrollamount="3" scrolldelay="50">
  <div class="ele-container">
    <div class="ele-wrapper">
      <div class="ele-tail-banner">
        <div class="days-to-go"></div>
        &nbsp; {{ site.Title }} <br />
        <b>{{ site.Data.info.eventTitle }}</b> <br />
      </div>
      <div class="ele-tail"></div>
      <div class="ele-body">
        <div class="ele-head">
          <div class="ele-eyebrows"></div>
          <div class="ele-eyes"></div>
          <div class="ele-mouth"></div>
          <div class="ele-fang-front"></div>
          <div class="ele-fang-back"></div>
          <div class="ele-ear"></div>
        </div>
      </div>
      <div class="ele-leg-1 ele-leg-back">
        <div class="ele-foot"></div>
      </div>
      <div class="ele-leg-2 ele-leg-front">
        <div class="ele-foot"></div>
      </div>
      <div class="ele-leg-3 ele-leg-back">
        <div class="ele-foot"></div>
      </div>
      <div class="ele-leg-4 ele-leg-front">
        <div class="ele-foot"></div>
      </div>
    </div>
  </div>
</marquee>

<script>
  var countdown = "{{ site.Data.info.countdown }}";
  var targetDate = new Date(countdown);
  var daysToGoDiv = document.querySelector(".days-to-go");
  function updateCountdown() {
    var countDownDateMidnight = new Date(
      targetDate.getFullYear(),
      targetDate.getMonth(),
      targetDate.getDate(),
      0,
      0,
      0
    ).getTime();

    var now = new Date();
    var nowMidnight = new Date(
      now.getFullYear(),
      now.getMonth(),
      now.getDate(),
      0,
      0,
      0
    ).getTime();

    var distance = countDownDateMidnight - nowMidnight;

    var days = Math.ceil(distance / (1000 * 60 * 60 * 24));

    if (!daysToGoDiv) return;
    if (distance < 0) {
      daysToGoDiv.innerHTML = "";
    } else if (days === 0) {
      daysToGoDiv.innerHTML = "Event Today!";
    } else {
      daysToGoDiv.innerHTML =
        "<b>" + days + "</b>" + (days == 1 ? " day " : " days ") + "to go!";
    }
  }
  updateCountdown();
</script>
