<footer class="footer">
  <div class="footer__in">
    <span>© {{ now.Year }} Pune PostgreSQL User Group · PgPune.in</span>
    <nav class="footer__links" aria-label="Footer">
      <!-- <a href="{{ "/events/" | relURL }}">Events</a>
      <a href="{{ "/about/" | relURL }}">About</a>
      <a href="{{ "/code-of-conduct/" | relURL }}">Code of Conduct</a> -->
      <a href="https://www.linkedin.com/groups/9884249/" target="_blank" rel="noopener">Linkedin</a>
      <a href="mailto:pgdaypune@gmail.com">Email</a>
    </nav>
  </div>
</footer>
