<div class="sponsors-div">
  <h2 class="sponsors-title">Sponsors</h2>
  {{- range .categories }}
  <div class="sponsor-category sponsor-category--{{ .class | default (.name | urlize) }}">
    {{- with .name }}<h3 class="sponsor-category-title">{{ . }}</h3>{{ end }}
    <div class="sponsors">
      {{- range .sponsors }}
      {{- $style := "" }}
      {{- with .height }}{{ $style = printf "%sheight:%vpx !important;" $style . }}{{ end }}
      {{- with .width }}{{ $style = printf "%swidth:%vpx !important;" $style . }}{{ end }}
      <div class="sponsor">
        <a href="{{ .url }}" target="_blank" title="{{ .name }}" rel="noopener">
          <img src="{{ .logo }}" alt="{{ .name }}"{{ with $style }} style="{{ . | safeCSS }}"{{ end }} />
        </a>
      </div>
      {{- end }}
    </div>
  </div>
  {{- end }}
</div>
