.buttons,
.main .profile {
    justify-content: center;
}

.main .profile {
    align-items: center;
    min-height: calc(100vh - var(--header-height) - var(--footer-height) - (var(--gap) * 2));
    text-align: center;
}

.profile .profile_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.buttons {
    flex-wrap: wrap;
    max-width: 400px;
}

.button {
    background: #336791;
    color: #FFFFFF;
    border-radius: var(--radius);
    margin: 8px;
    padding: 6px;
    transition: transform 0.1s;
}

.button-inner {
    padding: 0 8px;
}

.button:active {
    transform: scale(0.96);
}

.subtitle {
    margin: 8px 0;
    color: var(--secondary);
    font-size: 16px;
    font-family: monospace;
    line-height: 1.6;
}

.flexible-div{
    @media (max-width: 768px) {
        display: flex;
        width: 400px;
    }
}
